# yaml-language-server: $schema=https://www.schemastore.org/dependabot-2.0.json

updates:
  - package-ecosystem: github-actions
    assignees:
      - quisido
    directory: "/"
    groups:
      all-actions:
        applies-to: version-updates
        patterns:
          - "*"
        update-types:
          - major
          - minor
          - patch
    schedule:
      interval: daily
  - package-ecosystem: npm
    assignees:
      - quisido
    directories:
      - "/"
      - "/packages/*/"
    groups:
      dependencies:
        applies-to: version-updates
        dependency-type: production
        patterns:
          - "*"
        update-types:
          - major
          - minor
          - patch
      dev-dependencies:
        applies-to: version-updates
        dependency-type: development
        patterns:
          - "*"
        update-types:
          - major
          - minor
          - patch
    schedule:
      interval: daily
    versioning-strategy: increase

version: 2
