/**/.idea/
/**/.yarn/
/**/node_modules/
/**/*.gz
/**/*.md
/**/.DS_Store
/**/.tsbuildinfo
/.git/
/.vscode/settings.json
/jest/
/packages/
/sarif/
/*.code-workspace
/*.iml
/.attach_pid*
/.eslintcache
/.pnp.*
/LICENSE
/yarn.lock
/yarn-error.log
