/.git/
/.nyc_output/
/.yarn/cache/
/.yarn/sdks/
/.yarn/unplugged/
/build/
/coverage/
/cypress/coverage/
/cypress/screenshots/
/cypress/videos/
/jest/cache/
/jest/coverage/
/node_modules/
/public/CNAME
/**/*.css
/**/*.gz
/**/*.html
/**/*.ico
/**/*.jpg
/**/*.md
/**/*.pdf
/**/*.png
/**/*.scss
/**/*.txt
/LICENSE
/yarn.lock
