/.git/
/.wrangler/
/.yarn/cache/
/.yarn/sdks/
/.yarn/unplugged/
/.yarn/build-state.yml
/.yarn/install-state.gz
/jest/
/packages/*/.dev.vars
/sarif/
/.attach_pid*
/.eslintcache
/.pnp.*
/yarn-error.log
.idea/
node_modules/
.DS_Store
*.iml
