/.attach_pid*
/.eslintcache
/.gemini/mcp-oauth-tokens.json
/.git/
/.pnp.*
/.vitest/
/.wrangler/
/coverage/
/debug.log
/dist/
/playwright/storage-state.json
/sarif/
.DS_Store
.env.*.local
.env.local
.idea/
*.iml
node_modules/
vitest.config.ts.timestamp-*-*.mjs
