*                  text eol=lf
*.3gpp             binary
*.3gp              binary
*.7z               binary
*.ai               binary
*.as               binary
*.asf              binary
*.asx              binary
*.avi              binary
*.bat              text eol=crlf
*.bmp              binary
*.cmd              text eol=crlf
*.css              text diff=css eol=lf
*.eot              binary
*.eps              binary
*.exe              binary
*.fla              binary
*.flv              binary
*.gif              binary
*.gifv             binary
*.gz               binary
*.htm              text diff=html eol=lf
*.html             text diff=html eol=lf
*.ico              binary
*.jar              binary
*.jng              binary
*.jp2              binary
*.jpg              binary
*.jpeg             binary
*.jpx              binary
*.jxr              binary
*.kar              binary
*.lock             text -diff eol=lf
*.m4a              binary
*.m4v              binary
*.map              text -diff eol=lf
*.markdown         text diff=markdown eol=lf
*.md               text diff=markdown eol=lf
*.mdown            text diff=markdown eol=lf
*.mdwn             text diff=markdown eol=lf
*.mid              binary
*.midi             binary
*.mkd              text diff=markdown eol=lf
*.mkdn             text diff=markdown eol=lf
*.mng              binary
*.mov              binary
*.mp3              binary
*.mp4              binary
*.mpeg             binary
*.mpg              binary
*.ogg              binary
*.ogv              binary
*.otf              binary
*.pdf              binary
*.php              text diff=php eol=lf
*.png              binary
*.ps1              text eol=crlf
*.psb              binary
*.psd              binary
*.py               text diff=python eol=lf
*.pyc              binary
*.ra               binary
*.rar              binary
*.rb               text diff=ruby eol=lf
*.scss             text diff=css eol=lf
*.svgz             binary
*.swc              binary
*.swf              binary
*.tar              binary
*.tif              binary
*.tiff             binary
*.ttf              binary
*.xhtml            text diff=html eol=lf
*.wbmp             binary
*.webp             binary
*.webm             binary
*.woff             binary
*.woff2            binary
*.zip              binary
.pnp.cjs           text -diff eol=lf
.pnp.js            text -diff eol=lf
.pnp.loader.mjs    text -diff eol=lf
api-extractor.json linguist-language=JSON-with-Comments
package-lock.json  text -diff eol=lf
pnpm-lock.yaml     text -diff eol=lf
yarn.lock          text -diff eol=lf
