/.git/
/.idea/
/.vscode/
/.yarn/cache/
/.yarn/sdks/
/.yarn/unplugged/
/.yarn/build-state.yml
/.yarn/install-state.gz
/build/
/cypress/
/dist/
/jest/cache/
/jest/coverage/
/node_modules/
/types/
/*.iml
/.env
/.eslintcache
/.pnp.cjs
/.tsbuildinfo
/yarn-error.log
.DS_Store
