/.cache/
/.git/
/.github/
/.tests/
/.vscode/
/.wrangler/
/node_modules/
/packages/
/.*.json
/.*.yml
/.*ignore
/.*rc.*
/.editorconfig
/.gitattributes
/.pnp.cjs
/.pnp.loader.mjs
/*.code-workspace
/*.config.*
/*.test.ts
/package-lock.json
/tsconfig.*
