/.git/
/.github/
/.vscode/
/.wrangler/
/.yarn/
/jest/
/node_modules/
/packages/
/sarif/
/.*ignore
/.*rc.*
/.editorconfig
/.gitattributes
/.pnp.cjs
/.pnp.loader.mjs
/*.code-workspace
/*.config.*
/*.test.ts
/tsconfig.*
/yarn.lock
