@keyframes shake {
  0% {
    transform: rotate(22.5deg) scale(1);
  }

  13% {
    transform: rotate(45deg) scale(1.13);
  }

  38% {
    transform: rotate(0) scale(1.38);
  }

  63% {
    transform: rotate(45deg) scale(1.63);
  }

  88% {
    transform: rotate(0) scale(1.88);
  }

  100% {
    transform: rotate(22.5deg) scale(2);
  }
}

.image {
  opacity: 0.1;
  position: absolute;
  right: 20px;
  transform: rotate(22.5deg) scale(1);
  transition-delay: 0s;
  transition-duration: 500ms;
  transition-property: opacity transform;
  transition-timing-function: ease-in-out;

  &:hover {
    animation-delay: 0s;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-name: shake;
    animation-timing-function: ease-in-out;
    opacity: 0.75;
    transform: rotate(22.5deg) scale(2);
  }
}
