body {
  background-color: #000;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}

canvas {
  height: 100%;
  width: 100%;
}

html {
  height: 100vh;
  width: 100vw;
}
