/**
 *   This element represents the ink on the canvas, not the canvas itself. As a
 * pull-quote, it should have a subtle background tint or a strong left border,
 * but it should not look like an interactive card.
 */

.block-quote {
  background-color: rgb(0 0 0 / 5%);
  border-color: black;
  border-style: solid;
  border-width: 0 0 0 2px;
  display: block;
  font-family: serif;
}
