// This element represents a widget. Visually enclose it.

.button {
  background-color: inherit;
  border-color: inherit;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-family: sans-serif;

  &:focus-visible {
    outline-color: inherit;
    outline-style: solid;
    outline-offset: 2px;
    outline-width: 2px;
  }
}
