<<<<<<< HEAD
// This element represents a widget. Visually enclose it.
.root {
  display: inline-block;
}

.button {
  display: inline-block;
}

.combobox {
=======
/**
 * Be creative! Use images and shapes.
 * This element should look hand-drawn, like a poster.
 */

.combobox {
  display: inline-block;
}

.input {
>>>>>>> 2b8f2b12 (add class names)
  background-color: transparent;
  border-width: 0;
  height: 1px;
  outline-width: 0;
  width: 1px;
}

.label {
  display: inline;
}

.listbox {
  display: flex;
  flex-direction: column;

  &:focus-visible {
    outline-color: inherit;
    outline-style: solid;
    outline-offset: 2px;
    outline-width: 2px;
  }
}

.option {
  display: block;

  &:focus-visible {
    outline-color: inherit;
    outline-style: solid;
    outline-offset: 2px;
    outline-width: 2px;
  }
}
