/**
<<<<<<< HEAD
 *   This element represents the ink on the canvas, not the canvas itself. Do
 * not visually separate it from its container (e.g. with a border). Instead,
 * style the foreground, negative space, and _subtle_ decorative accents.
 */
.definition {
  background-color: transparent;
  display: inline;
  font-family: serif;
=======
 * Be creative! Use images and shapes.
 * This element should look hand-drawn, like a poster.
 */

.definition {
  display: inline;
>>>>>>> 2b8f2b12 (add class names)
}
