/**
 *   This element represents the ink on the canvas, not the canvas itself. Use a
 * subtle background tint and/or a thin border to signal a shift from human
 * prose to programmatic logic.
 */

.math {
  background-color: rgb(0 0 0 / 5%);
  border-color: black;
  border-style: solid;
  border-width: 1px;
  display: inline;
  font-family: monospace;
}
