/**
 *   This element represents the canvas. Instead of a visual enclosure (border),
 * use a subtle decorative accent and/or the Gestalt principle of proximity
 * (negative space) to segregate it from other content.
 */
.radio-group {
  display: flex;
  flex-direction: column;
}

.radio {
  &[checked] {
    // Style the checked state.
  }

  &:not([checked]) {
    // Style the unchecked state.
  }
}

.radio-group-label {
  display: block;
}

.radio-label {
  display: block;

  &:has(> .input:focus-visible) {
    outline-color: inherit;
    outline-style: solid;
    outline-offset: 2px;
    outline-width: 2px;
  }
}
