/**
 * Be creative! Use images and shapes.
 * This element should look hand-drawn, like a poster.
 */

.suggestion {
  display: inline;

  // Deletion
  > del {
    display: inline;
  }

  // Insertion
  > ins {
    display: inline;
  }
}
