// This element represents a widget. Visually enclose it.

.tab {
  display: inline-block;

  &:focus-visible {
    outline-color: inherit;
    outline-style: solid;
    outline-offset: 2px;
    outline-width: 2px;
  }
}
