/**
 * Be creative! Use images and shapes.
 * This element should look hand-drawn, like a poster.
 */

.tab {
  display: inline-block;

  &:focus-visible {
    outline-color: inherit;
    outline-style: solid;
    outline-offset: 2px;
    outline-width: 2px;
  }
}
