.root {
  display: flex;
  flex-direction: column;
}

// A tab is a widget. Visually enclose it.
.tab {
  display: inline-block;

  &:focus-visible {
    outline-color: inherit;
    outline-style: solid;
    outline-offset: 2px;
    outline-width: 2px;
  }
}

/**
 *   The tab list represents a canvas. Instead of a visual enclosure (border),
 * use a subtle decorative accent and/or the Gestalt principle of proximity
 * (negative space) to segregate it from other content.
 */
.tab-list {
  display: flex;
  flex-direction: row;
}

// A tab panel is floating. Visually enclose it.
.tab-panel {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  display: block;
}

