// This element represents a widget. Visually enclose it.

/**
 *   The `text-box` class wraps the entire component, including the label and
 * the element with the 'textbox' role.
 */
.text-box {
  display: inline-block;
}

// The `input` class is the single-line <input> element.
.input {
  background-color: inherit;
  border-color: inherit;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-family: serif;

  &:focus-visible {
    outline-color: inherit;
    outline-style: solid;
    outline-offset: 2px;
    outline-width: 2px;
  }
}

/**
 *   The `label` class wraps the text for the label, but is not the <label>
 * element per se.
 */
.label {
  display: inline;
  font-family: serif;
}

// The `textarea` class is the multi-line <textarea> element.
.textarea {
  background-color: transparent;
  border-color: inherit;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-family: serif;
  width: 100%;

  &:focus-visible {
    outline-color: inherit;
    outline-style: solid;
    outline-offset: 2px;
    outline-width: 2px;
  }
}
