.list {
  column-gap: 0.5em;
  display: grid;
  grid-template-columns: min-content min-content max-content;
  grid-template-rows: auto;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
