.dispositionIcon {
  font-size: 0.75em;
}

.expando {
  background-color: transparent;
  border-width: 0;
  color: inherit;
  column-gap: 8px;
  cursor: pointer;
  display: contents;
  flex-direction: row;
  font-size: 1em;
  line-height: 1rem;
  overflow: hidden;
  padding-bottom: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  &:hover {
    background-color: #00000020;
  }

  > span:last-child {
    column-gap: 0.333em;
    display: inline-flex;
    flex-direction: row;
  }
}

.listItem {
  border-bottom-width: 0;
  border-color: transparent;
  border-left-width: 0;
  border-right-width: 0;
  border-style: solid;
  border-top-width: 0;
  display: contents;
  font-size: 1em;
  line-height: 1rem;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;

  &.collapsed {
    &:hover {
      border-bottom-width: 1px;
      border-color: #00000020;
      border-top-width: 1px;
      margin-bottom: -1px;
      margin-top: -1px;
    }

    > ul {
      display: none;
    }
  }

  &.expanded {
    border-bottom-width: 1px;
    border-color: #00000040;
    border-top-width: 1px;
    margin-bottom: -1px;
    margin-top: -1px;

    > span {
      font-weight: bold;
    }

    > ul {
      display: block;
      margin-top: 1rem;
    }
  }

  &.firstEffectiveDirective {
    margin-top: 1rem;

    &:hover {
      margin-top: calc(1rem - 1px);
    }
  }

  + .expanded {
    margin-bottom: 0;
    margin-top: 0;
  }

  > ul {
    grid-column-end: span 2;
    grid-column-start: 2;
    list-style-type: none;
    margin: 0;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;

    > li {
      word-break: break-all;
    }
  }
}

.notFirst {
  visibility: hidden;
}

.reportsCount {
  font-size: 0.75em;
}
