$filter: invert(95%);

@mixin dark-mode {
  html[data-color-scheme="dark"] & {
    filter: $filter;
  }

  html[data-color-scheme="default"] & {
    @media (prefers-color-scheme: dark) {
      filter: $filter;
    }
  }
}
