.root {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: space-between;
  margin-bottom: -1em;
  margin-left: -1em;
  margin-right: -1em;

  > div {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }
}
