.header {
  background-image: url('./images/example-sprite.gif'),
    url('./images/example-sprite-sheet-small.png');
  background-position: right center, calc(100% - 50px) center;
  background-repeat: no-repeat, no-repeat;
  background-size: auto 50px;
}
