.header {
  background-image: url('https://i.imgur.com/sD4ATAY.gif'),
    url('https://i.imgur.com/UiyAsyY.png');
  background-position: right center, calc(100% - 36px) center;
  background-repeat: no-repeat, no-repeat;
  background-size: auto 36px;
}

.matte > input {
  background-color: transparent !important;
  border-width: 0 !important;
}
