@use "./dream";

.code {
  background-color: rgb(0 0 0 / 5%);
  border-color: dream.$edge;
  border-style: solid;
  border-width: 1px;
  display: inline;
  font-family: monospace;
}

.code {
  @include dream.ink;
}

.code {
  background: #090e20;
  border: 1px solid #697aa066;
  border-radius: 0.4rem;
  padding: 0.2em 0.5em;
  color: dream.$cyan;
  font-family: monospace;
}
