@use "./dream";

.document {
  background-color: transparent;
  display: block;
  font-family: "Trebuchet MS", sans-serif;
  padding: 1em;
}

.document {
  @include dream.ink;
}

.document {
  @include dream.canvas;
}
