@use "./dream";

.list {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  font-family: "Trebuchet MS", sans-serif;
  list-style-type: none;
  padding: 1em;
}

.list-item {
  background-color: transparent;
  font-family: "Trebuchet MS", sans-serif;
  list-style-type: none;
}

.list,
.list-item {
  @include dream.ink;
}

.list {
  padding-inline-start: 1.5rem;

  & ::marker {
    color: dream.$lavender;
  }
}
