@use "./dream";

.math {
  background-color: rgb(0 0 0 / 5%);
  border-color: dream.$edge;
  border-style: solid;
  border-width: 1px;
  display: inline;
  font-family: monospace;
}

.math {
  @include dream.ink;
}

.math {
  background: #c5b5ff0d;
  padding: 0.25em 0.5em;
  color: dream.$lavender;
}
