@use "./dream";

.radio-group {
  display: flex;
  flex-direction: column;
}


.radio-group-label {
  display: block;
}

.radio-label {
  display: block;

  &:has(> .input:focus-visible) {
    outline: dream.$cyan solid 2px;
    outline-offset: 2px;

  }
}

.radio-group,
.radio,
.radio-group-label,
.radio-label {
  @include dream.ink;
}

.radio-label {
  @include dream.control;

  margin-block: 0.25rem;
  cursor: pointer;

  &:has(input:checked) {
    background: #334468;
    border-color: dream.$cyan;
  }
}
