.list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;

  > li {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem 2em;
    text-align: center;
  }
}
