.displayFlex {
  display: flex;
}

.flexDirectionColumn {
  flex-direction: column;
}

.flexDirectionColumnReverse {
  flex-direction: column-reverse;
}

.flexDirectionRow {
  flex-direction: row;
}

.flexDirectionRowReverse {
  flex-direction: row-reverse;
}

.flexWrapNowrap {
  flex-wrap: nowrap;
}

.flexWrapWrap {
  flex-wrap: wrap;
}

.justifyContentSpaceAround {
  justify-content: space-around;
}

.justifyContentSpaceBetween {
  justify-content: space-between;
}
