.displayFlex {
  display: flex;
}

.flexDirectionColumn {
  flex-direction: column;
}

.flexDirectionColumnReverse {
  flex-direction: column-reverse;
}

.flexDirectionRow {
  flex-direction: row;
}

.flexDirectionRowReverse {
  flex-direction: row-reverse;
}
