.bannerHeight {
  align-items: center;
  display: flex;
  min-height: 220px;
}

.bannerWidth {
  margin: 0 auto;
  opacity: 0.8;
  position: relative;
  width: fit-content;

  &:hover {
    opacity: 1;
  }
}

.columnLayout > div {
  justify-content: space-around;
}

.dateTime {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  bottom: 0;
  left: 0;
  position: absolute;
}

.popover > button {
  border-bottom-width: 0 !important;
}

.reactions {
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  position: absolute;
  right: 0;
  top: 0;
}

.readingTime {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  bottom: 0;
  position: absolute;
  right: 0;
}

.views {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  left: 0;
  position: absolute;
  top: 0;
}
