name: Analyze

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Initialize
        uses: github/codeql-action/init@v4
        with:
          languages: javascript
      - name: Analyze
        uses: github/codeql-action/analyze@v4

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:
